/**
			 * win8寸平板
			 */
@media only screen and (min-device-width : 800px) and (max-device-width : 1280px),
/* 手机 */
(max-device-width : 400px)

/* and (orientation : landscape) */
	{
	.circle-menu {
		width: 60px;
		height: auto;
		font-size: 45px;
	}

	.circle-menu>div:last-child {
		width: 58px;
		height: 58px;
	}

	.circle-menu>div:first-child {
		width: 60px;
		/* min-height: 180px;;
							max-height: 300px; */
	}


	.circle-menu-container>div>div,
	.circle-menu-container>div>span,
	.circle-menu-control1>div {
		width: 58px;
		height: 58px;
		/* font-size: 1.2em; */
	}
}

/**
		所有 iPad Media Queries
		**/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

/**
		iPad 横屏
		**/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {}

/**
		**  iPad 竖屏
		**/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {}

/* 手机 */
@media all and (max-width: 768px) {}

@media (max-height: 700px) {}

@media (max-height: 400px) {}


/**
		笔记本
		**/
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : landscape) {}

/**
		 * win8寸平板横屏
		 */
@media only screen and (min-device-width : 800px) and (max-device-width : 1280px) and (orientation : landscape) {
	.circle-menu {
		width: 60px;
		height: auto;
	}

	.circle-menu-control1 {
		width: 58px;
		height: 58px;
	}

	.circle-menu-container {
		width: 60px;
		/* min-height: 180px;;
				max-height: 300px; */
	}


	.circle-menu-container>div>div,
	.circle-menu-container>div>span,
	.circle-menu-control1>div {
		width: 58px;
		height: 58px;
		/* font-size: 1.2em; */
	}
}

/**
		 * win8寸平板竖屏
		 */
@media only screen and (min-device-width : 600px) and (max-device-width : 1380px) {
	.circle-menu {
		width: 60px;
		height: 100%;
	}
}

@media only screen and (min-device-width : 800px) and (max-device-width : 1280px) and (orientation : portrait) {
	/* .circle-menu {
				width: 60px;
				height: auto;
			} */

	.circle-menu>div:last-child {
		width: 58px;
		height: 58px;
	}

	.circle-menu>div:first-child {
		width: 60px;
		/* min-height: 180px;;
						max-height: 300px; */
	}


	.circle-menu-container>div>div,
	.circle-menu-container>div>span,
	.circle-menu-control1>div {
		width: 58px;
		height: 58px;
		/* font-size: 1.2em; */
	}
}
